<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing</title>
    <link rel="stylesheet" href="/css/listings/item.css" />
  </head>
  <body>
    <div class="item-card">
      <!-- Title -->
      <div class="item-header">
        <h1 class="item-title"><%= item.title %></h1>

        <div class="item-actions">
          <a
            class="edit-btn"
            href="http://localhost:8080/listings/edit/<%= item._id %>"
            >Edit</a
          >

          <form
            class="delete"
            action="http://localhost:8080/listings/delete/<%= item._id %>?_method=DELETE"
            method="POST"
          >
            <button class="delete-btn">Delete</button>
          </form>
        </div>
      </div>

      <!-- Image -->
      <img
        class="item-image"
        src="<%= item.image.url %>"
        alt="<%= item.title %> image"
      />

      <!-- Price -->
      <span class="item-price">
        &#8377; <%= item.price.toLocaleString("en-IN") %>
      </span>

      <!-- Location -->
      <span class="item-location">
        <%= item.location %>, <%= item.country %>
      </span>

      <!-- Description -->
      <p class="item-desc"><%= item.description %></p>
    </div>
    <script>
      const deleteBtn = document.querySelector(".delete-btn");
      deleteBtn.addEventListener("click", (e) => {
        const confirmDelete = confirm(
          "Do you really want to delete this item?"
        );
        if (!confirmDelete) {
          e.preventDefault();
        }
      });
    </script>
  </body>
</html>
