<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing</title>
    <!-- Poppins Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/listings/item.css" />
  </head>
  <body>
    <!-- Header stays full width -->
    <header class="header">
      <div class="logo">
        <img src="/images/logo.png" alt="homeAway logo" />
        <a href="http://localhost:8080/listings">homeAway</a>
      </div>

      <nav class="nav">
        <a href="http://localhost:8080/listings/new">Become a host</a>
        <!-- Future links -->
      </nav>
    </header>

    <!-- Page content container -->
    <div class="page-content">
      <div class="item-card">
        <!-- Item card content -->
        <div class="item-header">
          <h1 class="item-title"><%= item.title %></h1>
          <div class="item-actions">
            <a
              class="edit-btn"
              href="http://localhost:8080/listings/<%= item._id %>/edit"
              >Edit</a
            >
            <form
              class="delete"
              action="http://localhost:8080/listings/<%= item._id %>/delete?_method=DELETE"
              method="POST"
            >
              <button class="delete-btn">Delete</button>
            </form>
          </div>
        </div>

        <img
          class="item-image"
          src="<%= item.image.url %>"
          alt="<%= item.title %> image"
        />
        <span class="item-price"
          >&#8377; <%= item.price.toLocaleString("en-IN") %></span
        >
        <span class="item-location"
          ><%= item.location %>, <%= item.country %></span
        >
        <p class="item-desc"><%= item.description %></p>
      </div>
    </div>
    <script>
      const deleteBtn = document.querySelector(".delete");
      deleteBtn.addEventListener("click", (e) => {
        const confirmDelete = confirm(
          "Do you really want to delete this listing."
        );
        if (!confirmDelete) {
          e.preventDefault();
        }
      });
    </script>
  </body>
</html>
